@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.navgation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}
.navgation .logo img{
  max-width: 100px;
}
.navgation .menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.navgation .menu li{
  margin: 0 16px;
  font-weight: 500;
}
.navgation .menu li a{
  color: #000;
  letter-spacing: 0.1px;
  font-weight: 500;
  text-decoration: none;
}
.navgation .menu li a:hover,
.navgation .menu li a:focus{
 color: #d6192d;
}
.navgation .btn{
  text-transform: uppercase;
  background-color: #d6192d;
  color: #fff;
  border-color: #d6192d;
  min-width: 100px;
  font-weight: 600;
}



/* hero--section Start*/
.hero--section{
  padding-top: 32px;
}
.hero--section .row{
  align-items: center;
}

.hero--section h1{
  font-size: 36px;
  font-weight: 600;
}
.hero--section h1 > span{
  display: block;
}
.hero--section p{
  font-size: 18px;
  font-weight: 500;
}
.hero--section p span{
  display: block;
  margin-top: 8px;
}
.hero--image img{
  max-width: 100%;
}
.with--action-btn .btn{
  text-transform: uppercase;
  background-color: #d6192d;
  color: #fff;
  border-color: #d6192d;
  min-width: 100px;
  font-weight: 600;
  margin-right: 16px;
}
.small--logo img{
  max-width: 60px;
}
/* hero--section End */

